* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1150px;
  margin: 0 auto;
}

main {
  padding-top: 80px;
}

header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
}
header nav h1 {
  font-family: "arial";
  color: #1db954;
  margin-left: -3px;
}
header nav img {
  height: 40px;
  width: fit-content;
  left: 0px;
  position: sticky;
  margin-right: 5px;
  font-family: 16px;
}
header .compare-bar {
  width: 100%;
  background-color: #48494c;
  left: 0px;
  position: absolute;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(44, 44, 44, 0.1);
  -moz-box-shadow: 1px 5px 5px 0px rgba(44, 44, 44, 0.1);
  box-shadow: 1px 5px 5px 0px rgba(44, 44, 44, 0.1);
}
header .compare-bar .compare-container {
  width: 1150px;
  min-height: 60px;
  margin: 0 auto;
  display: flex;
}
header .compare-bar .compare-container .compare-item-card, header .compare-bar .compare-container .add-more-btn, header .compare-bar .compare-container .search-container {
  min-width: 80px;
  height: 30px;
  margin: auto 10px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: #1db954;
  color: #48494c;
}
header .compare-bar .compare-container .compare-item-card p, header .compare-bar .compare-container .add-more-btn p, header .compare-bar .compare-container .search-container p {
  margin: auto 9px;
}
header .compare-bar .compare-container .compare-item-card span, header .compare-bar .compare-container .add-more-btn span, header .compare-bar .compare-container .search-container span {
  margin: 2px 8px 2px 6px;
  cursor: pointer;
}
header .compare-bar .compare-container .add-more-btn, header .compare-bar .compare-container .search-container {
  background-color: #48494c;
  color: #1db954;
  border: 1px solid #1db954;
  cursor: pointer;
}
header .compare-bar .compare-container .add-more-btn span, header .compare-bar .compare-container .search-container span {
  transform: rotate(45deg);
}
header .compare-bar .compare-container .search-container {
  border: none;
}

.search-input {
  width: 200px;
  background-color: #d1d1d1;
  border: none;
  outline: none;
  padding-left: 8px;
  animation: searchExpand 0.5s forwards;
}

.spanom {
  transition: 0.5s;
  transform: rotate(0deg) !important;
  color: #48494c;
  animation: searchXRotate 0.5s forwards;
  margin-right: 100px;
  padding-right: 19px;
}

.search-table {
  border-collapse: collapse;
  font-weight: 400px;
  padding-right: 30px;
}
.search-table thead tr:first-child {
  background-color: unset !important;
}
.search-table td:nth-child(odd) {
  padding-left: 7px;
}
.search-table td:nth-child(even) {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 30px;
  padding-top: 5px;
  padding-right: 20px;
  margin: auto auto;
}
.search-table tr {
  height: 30px;
}
.search-table table:hoover {
  color: red;
  background-color: red;
}
.search-table tr:nth-child(even) {
  background-color: #dddddd;
}
.search-table tr:nth-child(odd) {
  background-color: #e7e6e6;
}

.fa-plus-square {
  margin: 0 auto;
  color: #474747;
  font-size: 20px;
}
.fa-plus-square:hoover {
  color: red;
  background-color: red;
}

.card-container {
  display: flex;
}

.compare-btn {
  width: 90px;
  height: 30px;
  margin: auto 50px auto auto;
  border-radius: 15px;
  border: 1px solid black;
  cursor: pointer;
  color: #1db954;
  background-color: #303030;
}

#scene {
  width: 700px;
  border: 1px solid black;
  margin: 40px auto 110px auto;
}

@keyframes searchExpand {
  0% {
    width: 119px;
  }
  100% {
    width: 400px;
  }
}
@keyframes searchXRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/*# sourceMappingURL=main.css.map */
