@import "vars.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1150px;

  margin: 0 auto;
}
main {
  padding-top: 80px;
}
header {
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    h1 {
      font-family: $spotify-font;
      color: $main-color;
      margin-left: -3px;
    }

    img {
      height: 40px;
      width: fit-content;
      left: 0px;
      position: sticky;
      margin-right: 5px;
      font-family: 16px;
    }
  }
  .compare-bar {
    width: 100%;
    background-color: $compare-bar-background;
    // margin-bottom: 190px;
    left: 0px;
    position: absolute;
    -webkit-box-shadow: 1px 5px 5px 0px rgba(44, 44, 44, 0.1);
    -moz-box-shadow: 1px 5px 5px 0px rgba(44, 44, 44, 0.1);
    box-shadow: 1px 5px 5px 0px rgba(44, 44, 44, 0.1);

    .compare-container {
      width: 1150px;
      min-height: 60px;
      margin: 0 auto;
      display: flex;

      .compare-item-card {
        min-width: 80px;
        height: 30px;
        margin: auto 10px;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        background-color: $main-color;
        color: $compare-bar-background;
        p {
          margin: auto 9px;
        }
        span {
          margin: 2px 8px 2px 6px;
          cursor: pointer;
        }
      }
      .add-more-btn {
        @extend .compare-item-card;
        background-color: $compare-bar-background;
        color: $main-color;
        border: 1px solid $main-color;
        cursor: pointer;
        span {
          transform: rotate(45deg);
        }
      }
      .search-container {
        @extend .add-more-btn;
        border: none;
      }
    }
  }
}
.search-input {
  width: 200px;
  background-color: rgb(209, 209, 209);
  border: none;
  outline: none;
  padding-left: 8px;
  animation: searchExpand 0.5s forwards;
}
.spanom {
  transition: 0.5s;
  transform: rotate(0deg) !important;
  color: $compare-bar-background;
  animation: searchXRotate 0.5s forwards;
  margin-right: 100px;
  padding-right: 19px;
}
.search-table {
  border-collapse: collapse;
  font-weight: 400px;
  padding-right: 30px;

  thead {
    tr:first-child {
      background-color: unset !important;
    }
  }
  td:nth-child(odd) {
    //  szöveg bal margoja
    padding-left: 7px;
  }
  td:nth-child(even) {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 30px;
    padding-top: 5px;
    padding-right: 20px;
    margin: auto auto;
  }

  tr {
    height: 30px;
  }

  table:hoover {
    color: red;
    background-color: red;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: #e7e6e6;
  }
}
.fa-plus-square {
  margin: 0 auto;
  color: rgb(71, 71, 71);
  font-size: 20px;
  &:hoover {
    color: red;
    background-color: red;
  }
}

.card-container {
  display: flex;
}

.compare-btn {
  width: 90px;
  height: 30px;
  margin: auto 50px auto auto;
  border-radius: 15px;
  border: $border;
  cursor: pointer;
  color: $main-color;
  background-color: rgb(48, 48, 48);
}

// main

#scene {
  width: 700px;
  border: $border;
  margin: 40px auto 110px auto;
}

@keyframes searchExpand {
  0% {
    width: 119px;
  }
  100% {
    width: 400px;
  }
}
@keyframes searchXRotate {
  0% {
    transform: rotate(0deg);
    // color: $main-color;
  }
  100% {
    transform: rotate(90deg);
    // color: $compare-bar-background;
  }
}
